{% load static %}

        <link rel="canonical" href="Https://preview.keenthemes.com/metronic8" />
		<link rel="shortcut icon" href="{% static 'business_owner_panel/media/logos/favicon.ico' %}" />
		<!--begin::Fonts(mوatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Vendor Stylesheets(used for this page only)-->
		<link href="{% static 'business_owner_panel/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'business_owner_panel/plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Vendor Stylesheets-->
		<!--begin::Global Stylesheets Bundle(mوatory for all pages)-->
		<link href="{% static 'business_owner_panel/plugins/global/plugins.bundle.rtl.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'business_owner_panel/css/style.bundle.rtl.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->