<nav id="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'user_panel_dashboard' %}">
{#                    <img class="logo" src="{{ site_setting.logo.url }}" alt="">#}
                    <h3>شاندیز گالریا</h3>
                </a>
{#                <a href="{% url 'main-page' %}" class="logo"><strong>AP</strong></a>#}
            </div>

            <ul class="components">
{#                <li>#}
{#                    <a href="{% url 'python-lessons' %}" >#}
{#                        <i class="fas fa-home"></i>#}
{##}
{#                        خانه#}
{#                    </a>#}
{##}
{#                </li>#}


{#                {% for lesson in lesson_title %}#}
{#                    <li class="{% if request.get_full_path == lesson.get_absolute_url %}active{% endif %}">#}
{##}
{#                        <a href="{{ lesson.get_absolute_url }}">#}
{#                            {{ lesson.title | truncatechars:39 }}#}
{#                        </a>#}
{##}
{#                    </li>#}
{#                {% endfor %}#}



                <li class="">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">امور مشتریان</a>

                    <ul class="list-unstyled collapse" id="homeSubmenu" style="">
                        <li>
                            <a href="{% url 'customers_list' %}">لیست مشتریان</a>
                        </li>


                        <li>
                            <a href="{% url 'customers_import' %}">درون ریزی</a>
                        </li>




                    </ul>
                </li>


                <li class="">
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed">ناحیه کاربری</a>

                    <ul class="list-unstyled collapse" id="homeSubmenu2" style="">
                        <li>
                            <a href="{% url 'edit_profile' %}">ویرایش اطلاعات</a>
                        </li>
                        <li>
                            <a href="{% url 'chnage_password' %}">تغغیر رمز عبور</a>
                        </li>



                    </ul>
                </li>


                <li>
                    <a href="{% url 'surveys:SurveyListView' %}" >

                        ایجاد نظرسنجی
                    </a>

                 </li>


                 <li>
                    <a href="{% url 'payments' %}" >

                        سوابق مالی و پرداخت ها
                    </a>

                 </li>

                <li>
                    <a href="{% url 'subscription_plan' %}" >
                        لیست پلن های اشتراکی
                    </a>

                 </li>



            </ul>










</nav>


