{% load static %}
<div class="header sticky-top navbar-light bg-light">


                <!-- search box -->
{#                <div id="search-box" class="justify-content-center">#}
{##}
{#                    <div class="row">#}
{##}
{#                       <div class="col-sm-12 col-md-11 col-lg-12 col-xl-12">#}
{##}
{# #}
{##}
{##}
{##}
{#                       </div>#}
{##}
{#                    </div>#}
{#                </div>#}


                <!-- menus -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">


                    <div class="container-fluid">


                        <button type="button" id="sidebarCollapse" class="btn btn-blue">
                            <i class="fas fa-align-right"></i>
                            <span></span>
                        </button>




                        <button class="btn btn-blue d-inline-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>




                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto" id="main-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_panel_dashboard' %}">داشبورد</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'edit_profile' %}">ویرایش پروفایل</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'chnage_password' %}">تغییر رمز عبور</a>
                                </li>

                                    {% if request.user.is_authenticated %}
{#                                        <li class="nav-item">#}
{#                                        <a class="nav-link" href="{% url 'user_panel_view' %}">پنل کاربری</a>#}
{#                                        </li>#}
                                        <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout_page' %}">خروج</a>
                                        </li>

                                    {% else %}
                                        <li class="nav-item">
                                        <a class="nav-link" href="{% url 'login_page' %}">ورود</a>
                                        </li>
                                        <li class="nav-item">
                                        <a class="nav-link" href="{% url 'register_page' %}">ثبت نام</a>
                                        </li>

                                    {% endif %}


                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_basket' %}"><i class="fas fa-shopping-cart"></i> </a>
                            </li>

                            </ul>
                        </div>


                    </div>
                </nav>


</div>