{% load static %}
{% load thumbnail %}
{#{% load poll_extras %}#}
{% load render_partial %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{#    <link rel="shortcut icon" type="image/x-icon" href="{% static 'contact_module/images/a.png' %}">#}
    {% block meta %}{% endblock %}


    <title>{% block title %}{% endblock %}</title>


{% block header_reference %}
    {% include 'business_owner_panel/components_references/header_references.html' %}

{% endblock %}

</head>

<body>



<div class="wrapper">
        <!-- Sidebar  -->
        {% render_partial 'business_owner_panel.views.panel_sidebar_component' %}

        <!-- Page Content  -->
        <div id="content">


            <!-- header -->
            {% render_partial 'business_owner_panel.views.panel_header_component' %}


            <!-- main/body content -->
            <div class="main-content">
                <div class="row">
                    <div class="col-lg-10">


                        {% block content %}

                        {% endblock %}



                    </div>


                </div>
            </div>







           <!-- Pagination -->
{#            {% render_partial 'python_course.views.pagination' %}#}
            <!-- Footer -->
{#            {% render_partial 'business_owner_panel.views.panel_footer_component' %}#}
    </div>
</div>





{% block footer_reference %}
    {% include 'business_owner_panel/components_references/footer_references.html' %}
{% endblock %}

</body>

</html>