{% extends 'business_owner_panel/base.html' %}
{% load static %}

{% block title %}
    تغییر رمز عبور
{% endblock %}

{% block content %}






     <form method="post" class="" action="{% url 'chnage_password' %}">
        {% csrf_token %}
        <div class="form-group">
        <label for="exampleInputEmail1">کلمه عبور فعلی</label>
        {{ form.current_password }}
{#        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">#}
    </div>

        <div class="form-group">
            <label for="exampleInputPassword1">کلمه عبور جدید</label>
            {{ form.password }}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
        </div>

         <div class="form-group">
            <label for="exampleInputPassword1">تکرار کلمه عبور جدید</label>
            {{ form.confirm_password }}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
        </div>


    <button type="submit" class="btn btn-primary">به روز رسانی و ذخیره</button>
    </form>


{% endblock %}