{% extends 'business_owner_panel/base.html' %}

{% block content %}
<h3>خروجی گرفتن از لیست مشتریان</h3>
<p>دریافت اطلاعات از دیتابیس</p>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <p>فرمت مد نظر را انتخاب کنید</p>

    <select name="file-format" class="form-control my-3">
        <option selected>انتخاب فرمت...</option>
        <option>CSV</option>
        <option>JSON</option>
        <option>XLS (Excel)</option>
      </select>
    <button class="btn btn-primary" type="submit">خروجی</button>
  </form>


  {% endblock %}