{% extends 'business_owner_panel/base.html' %}
{% load static %}
{% load thumbnail %}
{#{% load poll_extras %}#}
{% load render_partial %}


{% block title %}
    لیست مشتریان
{% endblock %}

{% block content %}


<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>موبایل</th>
                <th>وضعیت</th>

                <th>تاریخ ثبت</th>
                <th>عملیات</th>
            </tr>
        </thead>


        <tbody>


            <tr>
                <td>Donna Snider</td>
                <td>
                    تایید شده
                </td>

                <td>2011-01-25</td>
                <td>
                    <button class="btn btn-danger"><a href="">حذف</a></button>
                    <button class="btn btn-secondary"><a href="">ویرایش</a></button>
                </td>
            </tr>
        </tbody>



        <tfoot>
            <tr>
                <th>موبایل</th>
                <th>وضعیت</th>

                <th>تاریخ ثبت</th>
                <th>عملیات</th>
            </tr>
        </tfoot>
    </table>

<p>hlkuh</p>










{% endblock %}


{% block footer_reference %}
    {% include 'business_owner_panel/components_references/footer_references.html' %}

<script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
</script>
{% endblock %}
