{% extends 'business_owner_panel/base.html' %}
{% load static %}
{% load thumbnail %}
{#{% load poll_extras %}#}
{% load render_partial %}


{% block title %}
    لیست مشتریان
{% endblock %}

{% block content %}
    {% for message in messages %}

        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show">
                {{message}}
            </div>
        {% elif message.tags == "error" %}
        {% endif %}
    {% endfor %}



    <h3>لیست مشتریان</h3>
    <button class="btn btn-info"><a href="{% url "customers_export" %}">خروجی گرفتن در فایل اکسل</a></button>
    <br><br><br>


<table id="example" class="table table-striped table-bordered" style="width:100%">


        <thead>
            <tr>
                <th>موبایل</th>
                <th>وضعیت</th>

                <th>تاریخ ثبت</th>
                <th>عملیات</th>
            </tr>
        </thead>

        <tbody>

        {% for customer in customers %}



            <tr>
                <td>{{ customer.mobile }}</td>

                <td>
                    {% if customer.is_active %}
                        تایید شده
                        {% else %}
                        تایید نشده
                    {% endif %}

                </td>

                <td>{{ customer.date_joined }}</td>
                <td>
                    <button class="btn btn-danger">
                        <a href="{% url "delete_customer" customer_id=customer.id %}">حذف</a>
                    </button>
                    <button class="btn btn-secondary">
                        <a href="{% url "update_customer" customer_id=customer.id %}">ویرایش</a>
                    </button>
                </td>
            </tr>

        {% endfor %}
        </tbody>



        <tfoot>
            <tr>
                <th>موبایل</th>
                <th>وضعیت</th>

                <th>تاریخ ثبت</th>
                <th>عملیات</th>
            </tr>
        </tfoot>
    </table>











{% endblock %}


{% block footer_reference %}
    {% include 'business_owner_panel/components_references/footer_references.html' %}

<script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
</script>
{% endblock %}
