{% extends 'business_owner_panel/base.html' %}
{% load static %}

{% block title %}
    ایمپورت کردن مشتریان
{% endblock %}

{% block content %}
    <!--begin::Content container-->
    {% for message in messages %}

        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show">
                {{message}}
            </div>
        {% elif message.tags == "error" %}
        {% endif %}
    {% endfor %}


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>فایل اکسلی که حاوی لیست شماره های مشتریان است را وارد کنید</h3>
        <br>


        <div class="input-group mb-3">

            <div class="custom-file">
                <input type="file" name="importData" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">انتخاب فایل</label>
            </div>
        </div>


        <p>
            فرمت فایل می بایست xlsx باشد
            <br>
            شماره تکراری نباید وجود داشته باشد
        </p>


        <button class="btn btn-primary" type="submit">وارد کردن</button>

    </form>

    <!--end::Content container-->

{% endblock %}


{% block footer_reference %}
    {% include 'business_owner_panel/components_references/footer_references.html' %}


{% endblock %}

