{% extends 'business_owner_panel/base.html' %}
{% load static %}
{% load thumbnail %}
{#{% load poll_extras %}#}
{% load render_partial %}

{% block meta %}
{#    <meta name="keywords" content="{{ lesson.meta_tags.keywords }}">#}
{#    <meta name="description" content="{{ lesson.meta_tags.description |striptags }}">#}
{#    <meta name="robots" content="{{ lesson.meta_tags.robots }}">#}
{#    <link rel="canonical" href="{{ lesson.meta_tags.canonical }}" />#}



{% endblock %}

{% block title %}داشبورد شاندیز گالریا {% endblock %}






{% block content %}

<h1>به پنل کاربری شاندیز گالریا خوش آمدید</h1>

{% endblock %}

