{% extends 'business_owner_panel/base.html' %}
{% load static %}

{% block title %}
    ویرایش اطلاعات کاربری
{% endblock %}

{% block content %}





    <form enctype="multipart/form-data" method="post" class="" action="{% url 'edit_profile' %}">
        {% csrf_token %}


        <div class="form-group">
            <label>نام کاربری</label>
            {{ form.username }}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
        </div>

         <div class="form-group">
            <label>نام</label>
            {{ form.first_name }}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
        </div>

        <div class="form-group">
            <label>نام خانوادگی</label>
            {{ form.last_name }}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
        </div>

        <div class="form-group">
            <label>موبایل</label>
            {{ form.mobile }}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
        </div>

        <div class="form-group">
            <label>ایمیل</label>
            {{ form.email }}
{#    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">#}
        </div>



    <button type="submit" class="btn btn-primary">به روز رسانی و ذخیره</button>
    </form>




{% endblock %}