{% extends 'business_owner_panel/base.html' %}
{% load static %}
{% load thumbnail %}
{#{% load poll_extras %}#}
{% load render_partial %}


{% block title %}
   سوابق مالی و پرداخت
{% endblock %}

{% block content %}
    {% for message in messages %}

        {% if message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show">
                {{message}}
            </div>
        {% elif message.tags == "error" %}
        {% endif %}
    {% endfor %}


    <p>صفحه پرداخت</p>


{% endblock %}


{% block footer_reference %}
    {% include 'business_owner_panel/components_references/footer_references.html' %}

<script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
</script>
{% endblock %}
