{% load static %}
{% load thumbnail %}
<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">

                        <!--begin::Logo-->
						<div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">

							<!--begin::Logo image-->
                            {% thumbnail site_setting.site_logo "50x50" crop='center' quality=100 as im %}
                                <img src="{{ im.url }}" alt="logo" class="app-sidebar-logo-default">
                                <img src="{{ im.url }}" alt="logo" class="app-sidebar-logo-minimize">
                            {% endthumbnail %}
{#                            <h3 class="title active">Smart Asha</h3>#}

							<!--end::Logo image-->
							<!--begin::Sidebar toggle-->
							<div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary body-bg h-30px w-30px position-absolute top-50 start-100 translate-middle rotate" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="app-sidebar-minimize">
								<!--begin::Svg Icon | path: icons/duotune/arrows/arr079.svg-->
								<span class="svg-icon svg-icon-2 rotate-180">
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="currentColor" />
										<path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="currentColor" />
									</svg>
								</span>
								<!--end::Svg Icon-->
							</div>
							<!--end::Sidebar toggle-->

						</div>
						<!--end::Logo-->


						<!--begin::sidebar menu-->
						<div class="app-sidebar-menu overflow-hidden flex-column-fluid">

                            <!--begin::Menu wrapper-->
							<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">

                                <!--begin::Menu-->
								<div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expو="false">


                                    <!--begin:خانه-->
									<div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
										<!--begin:Menu link-->
										<span class="menu-item">
                                            <a class="menu-link {% if request.resolver_match.url_name == 'user_panel_dashboard' %}active{% endif %}" href="{% url 'user_panel_dashboard' %}">
											<span class="menu-icon">
												<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
												<span class="svg-icon svg-icon-2">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                                                    </svg>

												</span>
												<!--end::Svg Icon-->
											</span>
											<span class="menu-title">خانه</span>

                                            </a>
										</span>
										<!--end:Menu link-->
										<!--begin:Menu sub-->

										<!--end:Menu sub-->
									</div>
									<!--end:خانه-->



                                    <!--begin:مشتریان-->
                                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
										<!--begin:Menu link-->
										<span class="menu-link">

											<span class="menu-title">امور مشتریان</span>
											<span class="menu-arrow"></span>
										</span>
										<!--end:Menu link-->
										<!--begin:Menu sub-->
										<div class="menu-sub menu-sub-accordion">
											<!--begin:Menu item-->
											<div class="menu-item">
												<!--begin:Menu link-->
												<a class="menu-link {% if request.resolver_match.url_name == 'customers_list' %}active{% endif %}" href="{% url 'customers_list' %}">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">لیست مشتریان</span>
												</a>
												<!--end:Menu link-->
											</div>
											<!--end:Menu item-->
											<!--begin:Menu item-->
											<div class="menu-item">
												<!--begin:Menu link-->
												<a class="menu-link {% if request.resolver_match.url_name == 'customers_records' %}active{% endif %}" href="{% url 'customers_records'%}">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">سوابق مشتریان</span>
												</a>
												<!--end:Menu link-->
											</div>
											<!--end:Menu item-->
											<!--begin:Menu item-->
											<div class="menu-item">
												<!--begin:Menu link-->
												<a class="menu-link {% if request.resolver_match.url_name == 'customers_export' %}active{% endif %}" href="{% url 'customers_export' %}">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">اکسپورت</span>
												</a>
												<!--end:Menu link-->
											</div>
											<!--end:Menu item-->
                                            <!--begin:Menu item-->
											<div class="menu-item">
												<!--begin:Menu link-->
												<a class="menu-link {% if request.resolver_match.url_name == 'customers_import' %}active{% endif %}" href="{% url 'customers_import' %}">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">ایمپورت</span>
												</a>
												<!--end:Menu link-->
											</div>
											<!--end:Menu item-->
										</div>
										<!--end:Menu sub-->
									</div>
                                    <!--begin:مشتریان-->




                                    <!--begin:نظرسنجی-->
                                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
										<!--begin:Menu link-->
										<span class="menu-item">
                                            <a class="menu-link {% if request.resolver_match.url_name == 'surveys:SurveyListView' %}active{% endif %}" href="{% url 'surveys:SurveyListView' %}">

											<span class="menu-title">نظر سنجی</span>

                                            </a>
										</span>
										<!--end:Menu link-->
										<!--begin:Menu sub-->

										<!--end:Menu sub-->
									</div>
                                    <!--begin:نظرسنجی-->


                                    <!--begin:ناحیه کاربری-->
                                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">

										<!--begin:Menu link-->
										<span class="menu-link">

											<span class="menu-title">ناحیه کاربری</span>
											<span class="menu-arrow"></span>
										</span>
										<!--end:Menu link-->


										<!--begin:Menu sub-->
										<div class="menu-sub menu-sub-accordion">

											<!--begin:Menu item-->
											<div class="menu-item">
												<!--begin:Menu link-->
												<a class="menu-link {% if request.resolver_match.url_name == 'edit_profile' %}active{% endif %}" href="{% url 'edit_profile' %}">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">ویرایش اطلاعات</span>
												</a>
												<!--end:Menu link-->
											</div>
											<!--end:Menu item-->


											<!--begin:Menu item-->
											<div class="menu-item">
												<!--begin:Menu link-->
												<a class="menu-link {% if request.resolver_match.url_name == 'chnage_password' %}active{% endif %}" href="{% url 'chnage_password'%}">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">تغییر کلمه عبور</span>
												</a>
												<!--end:Menu link-->
											</div>
											<!--end:Menu item-->

										</div>
										<!--end:Menu sub-->
									</div>
                                    <!--begin:ناحیه کاربری-->



                                    <!--begin:تیکت پشتیبانی-->
                                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion">

										<!--begin:Menu link-->
										<span class="menu-link">

											<span class="menu-title">تیکت پشتیبانی</span>
											<span class="menu-arrow"></span>
										</span>
										<!--end:Menu link-->


										<!--begin:Menu sub-->
										<div class="menu-sub menu-sub-accordion">

											<!--begin:Menu item-->
											<div class="menu-item">
												<!--begin:Menu link-->
												<a class="menu-link {% if request.resolver_match.url_name == 'ticket_list' %}active{% endif %}" href="{% url 'ticket_list' %}">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">لیست تیکت ها</span>
												</a>
												<!--end:Menu link-->
											</div>
											<!--end:Menu item-->


											<!--begin:Menu item-->
											<div class="menu-item">
												<!--begin:Menu link-->
												<a class="menu-link {% if request.resolver_match.url_name == 'create_ticket' %}active{% endif %}" href="{% url 'create_ticket' %}">
													<span class="menu-bullet">
														<span class="bullet bullet-dot"></span>
													</span>
													<span class="menu-title">ایجاد تیکت جدید</span>
												</a>
												<!--end:Menu link-->
											</div>
											<!--end:Menu item-->

										</div>
										<!--end:Menu sub-->
									</div>



									<!--end:تیکت پشتیبانی-->


                                    <!--begin:شارژ sms-->
{#									<div data-kt-menu-trigger="click" class="menu-item menu-accordion">#}
{#										<!--begin:Menu link-->#}
{#										<span class="menu-item">#}
{#                                            <a class="menu-link {% if request.resolver_match.url_name == 'sms' %}active{% endif %}" href="{% url 'sms' %}">#}
{##}
{#											<span class="menu-title">شارژ sms</span>#}
{##}
{#                                            </a>#}
{#										</span>#}
{#										<!--end:Menu link-->#}
{#										<!--begin:Menu sub-->#}
{##}
{#										<!--end:Menu sub-->#}
{#									</div>#}
									<!--end:شارژ sms-->



                                    <!--begin:سوابق مالی-->
									<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
										<!--begin:Menu link-->
										<span class="menu-item">
                                            <a class="menu-link {% if request.resolver_match.url_name == 'payments' %}active{% endif %}" href="{% url 'payments' %}">

											<span class="menu-title">سوابق مالی</span>

                                            </a>
										</span>
										<!--end:Menu link-->
										<!--begin:Menu sub-->

										<!--end:Menu sub-->
									</div>
									<!--end:سوابق مالی-->




                                    






								</div>
								<!--end::Menu-->

							</div>
							<!--end::Menu wrapper-->

						</div>
						<!--end::sidebar menu-->

</div>
