{% if order.orderdetail_set.all %}

            <table class="table">
                <thead>
                <tr>
                    <th>نام محصول</th>
                    <th>قیمت</th>
                    <th>عملیات</th>
                </tr>
            </thead>

                <tbody>
            {% for item in order.orderdetail_set.all %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.price }} تومان</td>
                    <td>
                        <button onclick="removeOrderDetail({{ item.id }})" class="btn btn-danger btn-sm">حذف</button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>

            </table>



            <div class="text-center">
                <button class="btn btn-primary">به روز رسانی سبد خرید</button>
                <a href="{% url  'request_payment'%}">
                    <button class="btn btn-success">پرداخت</button>
                </a>
            </div>
            {% else %}
            <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <p>سبد خرید شما خالی می باشد</p>

                </div>

            </div>
            </div>
{% endif %}