{% extends 'business_owner_panel/base.html' %}
{% load static %}
{% load thumbnail %}
{#{% load poll_extras %}#}
{% load render_partial %}


{% block title %}
  سبد خرید
{% endblock %}

{% block content %}
    <div class="container">

        <h1>پلن موجود در سبد خرید</h1>

        <br><br>

        <div id="order-detail-content">
            {% if order.orderdetail_set.all %}

            <table class="table">
                <thead>
                <tr>
                    <th>نام محصول</th>
                    <th>قیمت</th>
                    <th>عملیات</th>
                </tr>
            </thead>

                <tbody>
            {% for item in order.orderdetail_set.all %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.product.price }} تومان</td>
                    <td>
                        <button onclick="removeOrderDetail({{ item.id }})" class="btn btn-danger btn-sm">حذف</button>
                    </td>
                </tr>
            {% endfor %}

            </tbody>

            </table>



            <div class="text-center">
            <button class="btn btn-primary">به روز رسانی سبد خرید</button>
            <button class="btn btn-success">پرداخت</button>
            </div>
            {% else %}
            <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <p>سبد خرید شما خالی می باشد</p>

                </div>

            </div>
            </div>
            {% endif %}


        </div>



    </div>



{% endblock %}


{% block footer_reference %}
    {% include 'business_owner_panel/components_references/footer_references.html' %}

<script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable();
        });
</script>
{% endblock %}
