{% extends 'business_owner_panel/dashboard_base.html' %}
{% load static %}

{% block title %}
    تیکت ها
{% endblock %}

{% block content %}
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">

        <!--begin::کارت-->
        <div class="card" data-select2-id="select2-data-132-5e28">

            <!--begin::کارت header-->
            <div class="card-header border-0 pt-6" data-select2-id="select2-data-131-8dm7">
											<!--begin::کارت title-->
											<div class="card-title">
												<!--begin::جستجو-->
												<div class="d-flex align-items-center position-relative my-1">
													<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
													<span class="svg-icon svg-icon-1 position-absolute ms-6">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
															<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
															<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
														</svg>
													</span>
													<!--end::Svg Icon-->
													<input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="جستجو تیکت">
												</div>
												<!--end::جستجو-->
											</div>
											<!--begin::کارت title-->
											<!--begin::کارت toolbar-->
											<div class="card-toolbar" data-select2-id="select2-data-130-e09g">
												<!--begin::Toolbar-->
												<div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base" data-select2-id="select2-data-129-b5y7">
													<!--begin::فیلتر-->
													<div class="w-150px me-3" data-select2-id="select2-data-128-rg1g">
														<!--begin::انتخاب2-->
														<select class="form-select form-select-solid select2-hidden-accessible" data-control="select2" data-hide-search="true" data-placeholder="وضعیت" data-kt-ecommerce-order-filter="status" data-select2-id="select2-data-10-i1n0" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
															<option data-select2-id="select2-data-12-x8ws"></option>
															<option value="all" data-select2-id="select2-data-135-fev7">همه</option>
															<option value="active" data-select2-id="select2-data-136-nm3y">فعال</option>
															<option value="locked" data-select2-id="select2-data-137-a5yb">Locked</option>
														</select><span class="select2 select2-container select2-container--bootstrap5 select2-container--below" dir="rtl" data-select2-id="select2-data-11-b8ab" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-o9fx-container" aria-controls="select2-o9fx-container"><span class="select2-selection__rendered" id="select2-o9fx-container" role="textbox" aria-readonly="true" title="وضعیت"><span class="select2-selection__placeholder">وضعیت</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
														<!--end::انتخاب2-->
													</div>
													<!--end::فیلتر-->

													<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">تیکت جدید</button>
													<!--end::Add customer-->
												</div>
												<!--end::Toolbar-->
												<!--begin::گروه actions-->
												<div class="d-flex justify-content-end align-items-center d-none" data-kt-customer-table-toolbar="selected">
													<div class="fw-bold me-5">
													<span class="me-2" data-kt-customer-table-select="selected_count"></span>انتخاب شده</div>
													<button type="button" class="btn btn-danger" data-kt-customer-table-select="delete_selected">حذف انتخاب شده</button>
												</div>
												<!--end::گروه actions-->
											</div>
											<!--end::کارت toolbar-->
            </div>
            <!--end::کارت header-->
            
            <!--begin::کارت body-->
            <div class="card-body pt-0">
                <!--begin::Table-->
                <div id="kt_customers_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_customers_table">

                            <!--begin::Table head-->
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th class="w-10px pe-2 sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 29.8906px;">
                                    <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                        <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_customers_table .form-check-input" value="1">
                                    </div>
                                </th>
                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="مشتری نام: activate to sort column ascending" style="width: 134.641px;">ID</th>
                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 167.078px;">وضعیت</th>
                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="وضعیت: activate to sort column ascending" style="width: 134.641px;">سازنده</th>

                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="ادرس ای پی: activate to sort column ascending" style="width: 134.641px;">مسئول</th>
                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="زمان ایجاد تاریخ: activate to sort column ascending" style="width: 206.359px;">عنوان</th>
                                <th class="min-w-125px sorting" tabindex="0" aria-controls="kt_customers_table" rowspan="1" colspan="1" aria-label="زمان ایجاد تاریخ: activate to sort column ascending" style="width: 206.359px;">توضیحات</th>
{#                                <th class="text-end min-w-70px sorting_disabled" rowspan="1" colspan="1" aria-label="عملیات" style="width: 93.25px;">عملیات</th>#}
                            </tr>
                                <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->



                            <!--begin::Table body-->
                            <tbody class="fw-semibold text-gray-600">

                            {% for ticket in tickets %}



                                <tr class="odd">
                                    <!--begin::Checkbox-->
                                    <td>
                                        <div class="form-check form-check-sm form-check-custom form-check-solid">
                                            <input class="form-check-input" type="checkbox" value="1">
                                        </div>
                                    </td>
                                    <!--end::Checkbox-->

                                    <!--begin::id=-->
                                    <td>
                                        <a href="{% url 'ticket_detail' pk=ticket.id %}" class="text-gray-800 text-hover-primary mb-1">{{ ticket.id }}</a>

                                    </td>
                                    <!--end::id=-->



                                    <!--begin::وضعیت=-->
                                    <td>
                                    <!--begin::Badges-->
                                        {% if ticket.status == "TODO" %}
                                            <div class="badge badge-light-danger">در حال انجام</div>

                                        {% elif ticket.status == "IN PROGRESS" %}
                                            <div class="badge badge-light-light">در حال پردازش</div>

                                        {% elif ticket.status == "WAITING" %}
                                            <div class="badge badge-light-warning">در حال انتظار</div>

                                        {% elif ticket.status == "DONE" %}
                                            <div class="badge badge-light-success">انجام شده</div>

                                        {% else %}
                                            <div class="badge badge-light-white">{{ ticket.status }}</div>

                                        {% endif %}
                                    <!--end::Badges-->
                                    </td>
                                    <!--end::وضعیت=-->

                                <!--begin::owner=-->
                                    <td>
                                        <a href="" class="text-gray-600 text-hover-primary mb-1">{{ ticket.owner }}</a>
                                    </td>
                                    <!--end::owner=-->

                                    <!--begin:assigneeا=-->
                                    {% if ticket.assigned_to %}
                                        <td>{{ ticket.assigned_to }}</td>
                                    {% else %}
                                        <td>-------</td>
                                    {% endif %}
                                    <!--end::assignee=-->

                                    <!--begin::title=-->
                                    <td data-order="Invalid date">{{ ticket.title }}</td>
                                    <!--end::title=-->

                                    <!--begin::description=-->
                                    <td data-order="Invalid date">{{ ticket.description }}</td>
                                    <!--end::description=-->


                                </tr>
                            {% endfor %}

                            </tbody>
                            <!--end::Table body-->
                        </table>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start">
                            <div class="dataTables_length" id="kt_customers_table_length">
                                <label>
                                    <select name="kt_customers_table_length" aria-controls="kt_customers_table" class="form-select form-select-sm form-select-solid">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </label>
                            </div>
                        </div>


                        <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
                            <div class="dataTables_paginate paging_simple_numbers" id="kt_customers_table_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="kt_customers_table_previous">
                                        <a href="#" aria-controls="kt_customers_table" data-dt-idx="0" tabindex="0" class="page-link">
                                            <i class="previous"></i>
                                        </a>
                                    </li>
                                    <li class="paginate_button page-item active">
                                        <a href="#" aria-controls="kt_customers_table" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="kt_customers_table" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="kt_customers_table" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                    </li>
                                    <li class="paginate_button page-item ">
                                        <a href="#" aria-controls="kt_customers_table" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                    </li>
                                    <li class="paginate_button page-item next" id="kt_customers_table_next">
                                        <a href="#" aria-controls="kt_customers_table" data-dt-idx="5" tabindex="0" class="page-link">
                                            <i class="next"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Table-->
            </div>
            <!--end::کارت body-->
        </div>
        <!--end::کارت-->




        <!--begin::Modal - مشتریان - Add-->
        <div class="modal fade" id="kt_modal_add_customer" tabindex="-1" aria-hidden="true">
										<!--begin::Modal dialog-->
										<div class="modal-dialog modal-dialog-centered mw-650px">
											<!--begin::Modal content-->
											<div class="modal-content">
												<!--begin::Form-->
												<form class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#" id="kt_modal_add_customer_form" data-kt-redirect="../../demo1/dist/apps/customers/list.html">
													<!--begin::Modal header-->
													<div class="modal-header" id="kt_modal_add_customer_header">
														<!--begin::Modal title-->
														<h2 class="fw-bold">افزودن مشتری</h2>
														<!--end::Modal title-->
														<!--begin::Close-->
														<div id="kt_modal_add_customer_close" class="btn btn-icon btn-sm btn-active-icon-primary">
															<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
															<span class="svg-icon svg-icon-1">
																<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
																	<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
																</svg>
															</span>
															<!--end::Svg Icon-->
														</div>
														<!--end::Close-->
													</div>
													<!--end::Modal header-->
													<!--begin::Modal body-->
													<div class="modal-body py-10 px-lg-17">
														<!--begin::Scroll-->
														<div class="scroll-y me-n7 pe-7" id="kt_modal_add_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_customer_header" data-kt-scroll-wrappers="#kt_modal_add_customer_scroll" data-kt-scroll-offset="300px" style="">
															<!--begin::Input group-->
															<div class="fv-row mb-7 fv-plugins-icon-container">
																<!--begin::Tags-->
																<label class="required fs-6 fw-semibold mb-2">نام</label>
																<!--end::Tags-->
																<!--begin::Input-->
																<input type="text" class="form-control form-control-solid" placeholder="" name="name" value="محسن برومند">
																<!--end::Input-->
															<div class="fv-plugins-message-container invalid-feedback"></div></div>
															<!--end::Input group-->
															<!--begin::Input group-->
															<div class="fv-row mb-7 fv-plugins-icon-container">
																<!--begin::Tags-->
																<label class="fs-6 fw-semibold mb-2">
																	<span class="required">ایمیل</span>
																	<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="ایمیل address must be active" data-bs-original-title="ایمیل address must be active" data-kt-initialized="1"></i>
																</label>
																<!--end::Tags-->
																<!--begin::Input-->
																<input type="email" class="form-control form-control-solid" placeholder="" name="email" value="sean@dellito.com">
																<!--end::Input-->
															<div class="fv-plugins-message-container invalid-feedback"></div></div>
															<!--end::Input group-->
															<!--begin::Input group-->
															<div class="fv-row mb-15">
																<!--begin::Tags-->
																<label class="fs-6 fw-semibold mb-2">توضیحات</label>
																<!--end::Tags-->
																<!--begin::Input-->
																<input type="text" class="form-control form-control-solid" placeholder="" name="description">
																<!--end::Input-->
															</div>
															<!--end::Input group-->
															<!--begin::صورتحساب toggle-->
															<div class="fw-bold fs-3 rotate collapsible mb-7" data-bs-toggle="collapse" href="#kt_modal_add_customer_billing_info" role="button" aria-expوed="false" aria-controls="kt_customer_view_details">اطلاعات حمل و نقل
															<span class="ms-2 rotate-180">
																<!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
																<span class="svg-icon svg-icon-3">
																	<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
																	</svg>
																</span>
																<!--end::Svg Icon-->
															</span></div>
															<!--end::صورتحساب toggle-->
															<!--begin::صورتحساب form-->
															<div id="kt_modal_add_customer_billing_info" class="collapse show">
																<!--begin::Input group-->
																<div class="d-flex flex-column mb-7 fv-row fv-plugins-icon-container">
																	<!--begin::Tags-->
																	<label class="required fs-6 fw-semibold mb-2">ادرس1</label>
																	<!--end::Tags-->
																	<!--begin::Input-->
																	<input class="form-control form-control-solid" placeholder="" name="address1" value="101, Collins Street">
																	<!--end::Input-->
																<div class="fv-plugins-message-container invalid-feedback"></div></div>
																<!--end::Input group-->
																<!--begin::Input group-->
																<div class="d-flex flex-column mb-7 fv-row">
																	<!--begin::Tags-->
																	<label class="fs-6 fw-semibold mb-2">ادرس2</label>
																	<!--end::Tags-->
																	<!--begin::Input-->
																	<input class="form-control form-control-solid" placeholder="" name="address2" value="">
																	<!--end::Input-->
																</div>
																<!--end::Input group-->
																<!--begin::Input group-->
																<div class="d-flex flex-column mb-7 fv-row fv-plugins-icon-container">
																	<!--begin::Tags-->
																	<label class="required fs-6 fw-semibold mb-2">شهر</label>
																	<!--end::Tags-->
																	<!--begin::Input-->
																	<input class="form-control form-control-solid" placeholder="" name="city" value="Melbourne">
																	<!--end::Input-->
																<div class="fv-plugins-message-container invalid-feedback"></div></div>
																<!--end::Input group-->
																<!--begin::Input group-->
																<div class="row g-9 mb-7">
																	<!--begin::Col-->
																	<div class="col-md-6 fv-row fv-plugins-icon-container">
																		<!--begin::Tags-->
																		<label class="required fs-6 fw-semibold mb-2">استان</label>
																		<!--end::Tags-->
																		<!--begin::Input-->
																		<input class="form-control form-control-solid" placeholder="" name="state" value="Victoria">
																		<!--end::Input-->
																	<div class="fv-plugins-message-container invalid-feedback"></div></div>
																	<!--end::Col-->
																	<!--begin::Col-->
																	<div class="col-md-6 fv-row fv-plugins-icon-container">
																		<!--begin::Tags-->
																		<label class="required fs-6 fw-semibold mb-2">کدپستی</label>
																		<!--end::Tags-->
																		<!--begin::Input-->
																		<input class="form-control form-control-solid" placeholder="" name="postcode" value="3000">
																		<!--end::Input-->
																	<div class="fv-plugins-message-container invalid-feedback"></div></div>
																	<!--end::Col-->
																</div>
																<!--end::Input group-->
																<!--begin::Input group-->
																<div class="d-flex flex-column mb-7 fv-row fv-plugins-icon-container">
																	<!--begin::Tags-->
																	<label class="fs-6 fw-semibold mb-2">
																		<span class="required">کشور</span>
																		<i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" aria-label="کشور of origination" data-bs-original-title="کشور of origination" data-kt-initialized="1"></i>
																	</label>
																	<!--end::Tags-->
																	<!--begin::Input-->
																	<select name="country" aria-label="انتخاب a کشور" data-control="select2" data-placeholder="انتخاب  کشور..." data-dropdown-parent="#kt_modal_add_customer" class="form-select form-select-solid fw-bold select2-hidden-accessible" data-select2-id="select2-data-13-nd7f" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
																		<option value="">انتخاب  کشور...</option>
																		<option value="AF">Afghanistan</option>
																		<option value="AX">AlandIslands</option>
																		<option value="AL">Albania</option>
																		<option value="DZ">Algeria</option>
																		<option value="AS">American Samoa</option>
																		<option value="AD">Andorra</option>
																		<option value="AO">Angola</option>
																		<option value="AI">Anguilla</option>
																		<option value="AG">Antigua و Barbuda</option>
																		<option value="AR">Argentina</option>
																		<option value="AM">Armenia</option>
																		<option value="AW">Aruba</option>
																		<option value="AU">ایران</option>
																		<option value="AT">Austria</option>
																		<option value="AZ">Azerbaijan</option>
																		<option value="BS">Bahamas</option>
																		<option value="BH">Bahrain</option>
																		<option value="BD">Bangladesh</option>
																		<option value="BB">Barbados</option>
																		<option value="BY">Belarus</option>
																		<option value="BE">Belgium</option>
																		<option value="BZ">Belize</option>
																		<option value="BJ">Benin</option>
																		<option value="BM">Bermuda</option>
																		<option value="BT">Bhutan</option>
																		<option value="BO">Bolivia, Plurinational State of</option>
																		<option value="BQ">Bonaire, Sint Eustatius و Saba</option>
																		<option value="BA">Bosnia و Herzegovina</option>
																		<option value="BW">Botswana</option>
																		<option value="BR">Brazil</option>
																		<option value="IO">British هندn Ocean Territory</option>
																		<option value="BN">Brunei Darussalam</option>
																		<option value="BG">Bulgaria</option>
																		<option value="BF">Burkina Faso</option>
																		<option value="BI">Burundi</option>
																		<option value="KH">Cambodia</option>
																		<option value="CM">Cameroon</option>
																		<option value="CA">Canada</option>
																		<option value="CV">Cape Verde</option>
																		<option value="KY">Cayman Islوs</option>
																		<option value="CF">Central African Republic</option>
																		<option value="TD">Chad</option>
																		<option value="CL">Chile</option>
																		<option value="CN">China</option>
																		<option value="CX">Christmas Islو</option>
																		<option value="CC">Cocos (Keeling) Islوs</option>
																		<option value="CO">Colombia</option>
																		<option value="KM">Comoros</option>
																		<option value="CK">Cook Islوs</option>
																		<option value="CR">Costa Rica</option>
																		<option value="CI">Côte d'Ivoire</option>
																		<option value="HR">Croatia</option>
																		<option value="CU">Cuba</option>
																		<option value="CW">Curaçao</option>
																		<option value="CZ">Czech Republic</option>
																		<option value="DK">Denmark</option>
																		<option value="DJ">Djibouti</option>
																		<option value="DM">Dominica</option>
																		<option value="DO">Dominican Republic</option>
																		<option value="EC">Ecuador</option>
																		<option value="EG">Egypt</option>
																		<option value="SV">El Salvador</option>
																		<option value="GQ">Equatorial Guinea</option>
																		<option value="ER">Eritrea</option>
																		<option value="EE">Estonia</option>
																		<option value="ET">Ethiopia</option>
																		<option value="FK">Falklو Islوs (Malvinas)</option>
																		<option value="FJ">Fiji</option>
																		<option value="FI">Finlو</option>
																		<option value="FR">فرانسه</option>
																		<option value="PF">فرانسه Polynesia</option>
																		<option value="GA">Gabon</option>
																		<option value="GM">Gambia</option>
																		<option value="GE">Georgia</option>
																		<option value="DE">المان</option>
																		<option value="GH">Ghana</option>
																		<option value="GI">Gibraltar</option>
																		<option value="GR">Greece</option>
																		<option value="GL">Greenlو</option>
																		<option value="GD">Grenada</option>
																		<option value="GU">Guam</option>
																		<option value="GT">Guatemala</option>
																		<option value="GG">Guernsey</option>
																		<option value="GN">Guinea</option>
																		<option value="GW">Guinea-Bissau</option>
																		<option value="HT">هلند</option>
																		<option value="VA">Holy See (Vatican شهر State)</option>
																		<option value="HN">Honduras</option>
																		<option value="HK">Hong Kong</option>
																		<option value="HU">Hungary</option>
																		<option value="IS">ایسلند</option>
																		<option value="IN">هند</option>
																		<option value="شناسه">Indonesia</option>
																		<option value="IR">Iran, Islamic Republic of</option>
																		<option value="IQ">Iraq</option>
																		<option value="IE">Irelو</option>
																		<option value="IM">Isle of Man</option>
																		<option value="IL">Israel</option>
																		<option value="IT">Italy</option>
																		<option value="JM">Jamaica</option>
																		<option value="JP">Japan</option>
																		<option value="JE">Jersey</option>
																		<option value="JO">Jordan</option>
																		<option value="KZ">Kazakhstan</option>
																		<option value="KE">Kenya</option>
																		<option value="KI">ایتالیا</option>
																		<option value="KP">Korea, دموcratic People's Republic of</option>
																		<option value="KW">Kuwait</option>
																		<option value="KG">Kyrgyzstan</option>
																		<option value="LA">Lao People's دموcratic Republic</option>
																		<option value="LV">Latvia</option>
																		<option value="LB">Lebanon</option>
																		<option value="LS">Lesotho</option>
																		<option value="LR">Liberia</option>
																		<option value="LY">Libya</option>
																		<option value="LI">Liechtenstein</option>
																		<option value="LT">Lithuania</option>
																		<option value="LU">Luxembourg</option>
																		<option value="MO">Macao</option>
																		<option value="MG">Madagascar</option>
																		<option value="MW">Malawi</option>
																		<option value="MY">Malaysia</option>
																		<option value="MV">Maldives</option>
																		<option value="ML">Mali</option>
																		<option value="MT">Malta</option>
																		<option value="MH">اسفندshall Islوs</option>
																		<option value="MQ">اسفندtinique</option>
																		<option value="MR">Mauritania</option>
																		<option value="MU">Mauritius</option>
																		<option value="MX">مکزیک</option>
																		<option value="FM">Micronesia, Federated States of</option>
																		<option value="MD">Moldova, Republic of</option>
																		<option value="MC">فرانسه</option>
																		<option value="MN">Mongolia</option>
																		<option value="ME">Montenegro</option>
																		<option value="MS">Montserrat</option>
																		<option value="MA">Morocco</option>
																		<option value="MZ">Mozambique</option>
																		<option value="MM">منanmar</option>
																		<option value="NA">Namibia</option>
																		<option value="NR">Nauru</option>
																		<option value="NP">Nepal</option>
																		<option value="NL">Netherlوs</option>
																		<option value="NZ">جدید Zealو</option>
																		<option value="NI">Nicaragua</option>
																		<option value="NE">Niger</option>
																		<option value="NG">Nigeria</option>
																		<option value="NU">Niue</option>
																		<option value="NF">Norfolk Islو</option>
																		<option value="MP">Northern اسفندiana Islوs</option>
																		<option value="NO">Norway</option>
																		<option value="OM">Oman</option>
																		<option value="PK">Pakistan</option>
																		<option value="PW">Palau</option>
																		<option value="PS">Palestinian Territory, Occupied</option>
																		<option value="PA">Panama</option>
																		<option value="PG">Papua جدید Guinea</option>
																		<option value="PY">Paraguay</option>
																		<option value="PE">Peru</option>
																		<option value="PH">Philippines</option>
																		<option value="PL">لهستان</option>
																		<option value="PT">Portugal</option>
																		<option value="PR">Puerto Rico</option>
																		<option value="QA">Qatar</option>
																		<option value="RO">Romania</option>
																		<option value="RU">Russian Federation</option>
																		<option value="RW">Rwوa</option>
																		<option value="BL">Saint Barthélemy</option>
																		<option value="KN">Saint Kitts و Nevis</option>
																		<option value="LC">Saint Lucia</option>
																		<option value="MF">Saint اسفندtin (فرانسه part)</option>
																		<option value="VC">Saint Vincent و the Grenadines</option>
																		<option value="WS">Samoa</option>
																		<option value="SM">San اسفندino</option>
																		<option value="ST">Sao Tome و Principe</option>
																		<option value="SA">Saudi Arabia</option>
																		<option value="SN">Senegal</option>
																		<option value="RS">Serbia</option>
																		<option value="SC">Seychelles</option>
																		<option value="SL">Sierra Leone</option>
																		<option value="SG">Singapore</option>
																		<option value="SX">Sint Maarten (Dutch part)</option>
																		<option value="SK">Slovakia</option>
																		<option value="SI">Slovenia</option>
																		<option value="SB">Solomon Islوs</option>
																		<option value="SO">Somalia</option>
																		<option value="ZA">South Africa</option>
																		<option value="KR">South Korea</option>
																		<option value="SS">South Sudan</option>
																		<option value="ES">Spain</option>
																		<option value="LK">Sri Lanka</option>
																		<option value="SD">Sudan</option>
																		<option value="SR">Suriname</option>
																		<option value="SZ">Swazilو</option>
																		<option value="SE">سوئد</option>
																		<option value="CH">Switzerlو</option>
																		<option value="SY">Syrian Arab Republic</option>
																		<option value="TW">Taiwan, حرفه ایvince of China</option>
																		<option value="TJ">Tajikistan</option>
																		<option value="TZ">Tanzania, United Republic of</option>
																		<option value="TH">Thailو</option>
																		<option value="TG">Togo</option>
																		<option value="TK">Tokelau</option>
																		<option value="TO">Tonga</option>
																		<option value="TT">Trinidad و Tobago</option>
																		<option value="TN">Tunisia</option>
																		<option value="TR">ترکیه</option>
																		<option value="TM">Turkmenistan</option>
																		<option value="TC">Turks و Caicos Islوs</option>
																		<option value="TV">Tuvalu</option>
																		<option value="UG">Ugوa</option>
																		<option value="UA">Ukraine</option>
																		<option value="AE">United Arab Emirates</option>
																		<option value="GB">United Kingdom</option>
																		<option value="ایران" selected="selected" data-select2-id="select2-data-15-e496">آمریکا</option>
																		<option value="UY">Uruguay</option>
																		<option value="UZ">Uzbekistan</option>
																		<option value="VU">ونuatu</option>
																		<option value="VE">Venezuela, Bolivarian Republic of</option>
																		<option value="VN">Vietnam</option>
																		<option value="VI">Virgin Islوs</option>
																		<option value="YE">Yemen</option>
																		<option value="ZM">Zambia</option>
																		<option value="ZW">Zimbabwe</option>
																	</select><span class="select2 select2-container select2-container--bootstrap5" dir="rtl" data-select2-id="select2-data-14-06fn" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid fw-bold" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-country-du-container" aria-controls="select2-country-du-container"><span class="select2-selection__rendered" id="select2-country-du-container" role="textbox" aria-readonly="true" title="آمریکا">آمریکا</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
																	<!--end::Input-->
																<div class="fv-plugins-message-container invalid-feedback"></div></div>
																<!--end::Input group-->
																<!--begin::Input group-->
																<div class="fv-row mb-7">
																	<!--begin::Wrapper-->
																	<div class="d-flex flex-stack">
																		<!--begin::Tags-->
																		<div class="me-5">
																			<!--begin::Tags-->
																			<label class="fs-6 fw-semibold">به عنوان مخاطب صورتحساب استفاده می شود؟?</label>
																			<!--end::Tags-->
																			<!--begin::Input-->
																			<div class="fs-7 fw-semibold text-muted">اگر به اطلاعات بیشتری نیاز دارید ، لطفا برنامه ریزی بودجه را بررسی کنید</div>
																			<!--end::Input-->
																		</div>
																		<!--end::Tags-->
																		<!--begin::Switch-->
																		<label class="form-check form-switch form-check-custom form-check-solid">
																			<!--begin::Input-->
																			<input class="form-check-input" name="billing" type="checkbox" value="1" id="kt_modal_add_customer_billing" checked="checked">
																			<!--end::Input-->
																			<!--begin::Tags-->
																			<span class="form-check-label fw-semibold text-muted" for="kt_modal_add_customer_billing">بله</span>
																			<!--end::Tags-->
																		</label>
																		<!--end::Switch-->
																	</div>
																	<!--begin::Wrapper-->
																</div>
																<!--end::Input group-->
															</div>
															<!--end::صورتحساب form-->
														</div>
														<!--end::Scroll-->
													</div>
													<!--end::Modal body-->
													<!--begin::Modal footer-->
													<div class="modal-footer flex-center">
														<!--begin::Button-->
														<button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3">لغو</button>
														<!--end::Button-->
														<!--begin::Button-->
														<button type="submit" id="kt_modal_add_customer_submit" class="btn btn-primary">
															<span class="indicator-label">ثبت</span>
															<span class="indicator-progress">لطفا صبر کنید...
															<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
														</button>
														<!--end::Button-->
													</div>
													<!--end::Modal footer-->
												</form>
												<!--end::Form-->
											</div>
										</div>
									</div>
        <!--end::Modal - مشتریان - Add-->




        <!--begin::Modal - Adjust تعادل-->
        <div class="modal fade" id="kt_customers_export_modal" tabindex="-1" aria-hidden="true">
										<!--begin::Modal dialog-->
										<div class="modal-dialog modal-dialog-centered mw-650px">
											<!--begin::Modal content-->
											<div class="modal-content">
												<!--begin::Modal header-->
												<div class="modal-header">
													<!--begin::Modal title-->
													<h2 class="fw-bold">خروجی مشتریان</h2>
													<!--end::Modal title-->
													<!--begin::Close-->
													<div id="kt_customers_export_close" class="btn btn-icon btn-sm btn-active-icon-primary">
														<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
														<span class="svg-icon svg-icon-1">
															<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
																<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</div>
													<!--end::Close-->
												</div>
												<!--end::Modal header-->
												<!--begin::Modal body-->
												<div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
													<!--begin::Form-->
													<form id="kt_customers_export_form" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#">
														<!--begin::Input group-->
														<div class="fv-row mb-10">
															<!--begin::Tags-->
															<label class="fs-5 fw-semibold form-label mb-5">انتخاب خروجی فرمت:</label>
															<!--end::Tags-->
															<!--begin::Input-->
															<select data-control="select2" data-placeholder="انتخاب فرمت" data-hide-search="true" name="format" class="form-select form-select-solid select2-hidden-accessible" data-select2-id="select2-data-16-hg92" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
																<option value="excell" data-select2-id="select2-data-18-590z">Excel</option>
																<option value="pdf">PDF</option>
																<option value="cvs">CVS</option>
																<option value="zip">ZIP</option>
															</select><span class="select2 select2-container select2-container--bootstrap5" dir="rtl" data-select2-id="select2-data-17-wk7j" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select form-select-solid" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-format-fk-container" aria-controls="select2-format-fk-container"><span class="select2-selection__rendered" id="select2-format-fk-container" role="textbox" aria-readonly="true" title="Excel">Excel</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
															<!--end::Input-->
														</div>
														<!--end::Input group-->
														<!--begin::Input group-->
														<div class="fv-row mb-10 fv-plugins-icon-container">
															<!--begin::Tags-->
															<label class="fs-5 fw-semibold form-label mb-5">انتخاب تاریخ Range:</label>
															<!--end::Tags-->
															<!--begin::Input-->
															<input class="form-control form-control-solid flatpickr-input" placeholder="انتخاب تاریخ" name="date" type="hidden"><input class="form-control form-control-solid form-control input" placeholder="انتخاب تاریخ" tabindex="0" type="text" readonly="readonly">
															<!--end::Input-->
														<div class="fv-plugins-message-container invalid-feedback"></div></div>
														<!--end::Input group-->
														<!--begin::Row-->
														<div class="row fv-row mb-15">
															<!--begin::Tags-->
															<label class="fs-5 fw-semibold form-label mb-5">پرداخت نوع:</label>
															<!--end::Tags-->
															<!--begin::رادیو group-->
															<div class="d-flex flex-column">
																<!--begin::رادیو button-->
																<label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
																	<input class="form-check-input" type="checkbox" value="1" checked="checked" name="payment_type">
																	<span class="form-check-label text-gray-600 fw-semibold">همه</span>
																</label>
																<!--end::رادیو button-->
																<!--begin::رادیو button-->
																<label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
																	<input class="form-check-input" type="checkbox" value="2" checked="checked" name="payment_type">
																	<span class="form-check-label text-gray-600 fw-semibold">ویزا</span>
																</label>
																<!--end::رادیو button-->
																<!--begin::رادیو button-->
																<label class="form-check form-check-custom form-check-sm form-check-solid mb-3">
																	<input class="form-check-input" type="checkbox" value="3" name="payment_type">
																	<span class="form-check-label text-gray-600 fw-semibold">مستر کارت</span>
																</label>
																<!--end::رادیو button-->
																<!--begin::رادیو button-->
																<label class="form-check form-check-custom form-check-sm form-check-solid">
																	<input class="form-check-input" type="checkbox" value="4" name="payment_type">
																	<span class="form-check-label text-gray-600 fw-semibold">اکسپرس</span>
																</label>
																<!--end::رادیو button-->
															</div>
															<!--end::Input group-->
														</div>
														<!--end::Row-->
														<!--begin::Actions-->
														<div class="text-center">
															<button type="reset" id="kt_customers_export_cancel" class="btn btn-light me-3">لغو</button>
															<button type="submit" id="kt_customers_export_submit" class="btn btn-primary">
																<span class="indicator-label">ثبت</span>
																<span class="indicator-progress">لطفا صبر کنید...
																<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
															</button>
														</div>
														<!--end::Actions-->
													</form>
													<!--end::Form-->
												</div>
												<!--end::Modal body-->
											</div>
											<!--end::Modal content-->
										</div>
										<!--end::Modal dialog-->
									</div>
        <!--end::Modal - Adjust تعادل-->






    </div>
    <!--end::Content container-->

{% endblock %}


{% block jsfiles %}
        <script src="{% static 'business_owner_panel/js/custom/apps/customers/list/export.js' %}"></script>
{#		<script src="{% static 'business_owner_panel/js/custom/apps/customers/list/list.js' %}"></script>#}
		<script src="{% static 'business_owner_panel/js/custom/apps/customers/add.js' %}"></script>

{% endblock %}
