{% extends 'business_owner_panel/dashboard_base.html' %}
{% load static %}

{% block title %}
    تنظیمات
{% endblock %}

{% block content %}
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-fluid">

            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_add_customer_header">
                <!--begin::Modal title-->
                <h2 class="fw-bold">تنظیمات تیکت</h2>
                <!--end::Modal title-->

            </div>
            <!--end::Modal header-->

            <form method="post" class="form fv-plugins-bootstrap5 fv-plugins-framework" action="#" id="kt_modal_add_customer_form" data-kt-redirect="">
            {% csrf_token %}

            <!--begin::Modal body-->
            <div class="modal-body py-10 px-lg-17">
                <!--begin::Scroll-->
                <div class="scroll-y me-n7 pe-7" id="kt_modal_add_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_customer_header" data-kt-scroll-wrappers="#kt_modal_add_customer_scroll" data-kt-scroll-offset="300px" style="">

                    <!--begin::Input group-->
                    <div class="fv-row mb-7 fv-plugins-icon-container">

                        <!--begin::Input-->
                        {{ form_user.first_name }}
                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback">

                        </div>
                    </div>
                    <!--end::Input group-->

                    <!--begin::Input group-->
                    <div class="fv-row mb-7 fv-plugins-icon-container">

                        <!--begin::Input-->
                        {{ form_user.last_name }}
                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback">

                        </div>
                    </div>
                    <!--end::Input group-->

                    <!--begin::Input group-->
                    <div class="fv-row mb-7 fv-plugins-icon-container">

                        <!--begin::Input-->
                        {{ form_user.email }}
                        <!--end::Input-->
                        <div class="fv-plugins-message-container invalid-feedback">

                        </div>
                    </div>
                    <!--end::Input group-->


                </div>
                <!--end::Scroll-->
            </div>
            <!--end::Modal body-->

            <!--begin::Modal footer-->
            <div class="modal-footer flex-center">
                <!--begin::Button-->
                <button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3">لغو</button>
                <!--end::Button-->
                <!--begin::Button-->
                <button type="submit" id="kt_modal_add_customer_submit" class="btn btn-primary">
                    <span class="indicator-label">ذخیره</span>
                    <span class="indicator-progress">لطفا صبر کنید...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
														<!--end::Button-->
            </div>
            <!--end::Modal footer-->
        </form>




















    </div>
    <!--end::Content container-->

{% endblock %}


{% block jsfiles %}
        <script src="{% static 'business_owner_panel/js/custom/apps/customers/list/export.js' %}"></script>
{#		<script src="{% static 'business_owner_panel/js/custom/apps/customers/list/list.js' %}"></script>#}
		<script src="{% static 'business_owner_panel/js/custom/apps/customers/add.js' %}"></script>

{% endblock %}
