{% load static %}

<script src="{% static 'js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendors/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/vendors/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/vendors/parallax.min.js' %}"></script>
    <script src="{% static 'js/vendors/aos.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>