{% extends 'customer_login/base.html' %}
{% load static %}
{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}







{#                <a href="https://ashaarvin.com"><img class="fblogo" src="{% static 'images/ASHAARVIN_logo.png' %}"></a>#}
{##}
{#                <img id="logo" class="fblogo" src="{% static 'images/shandiz.png' %}" style="height: 220px; width:250px;">#}



    <div class="login-wrap">
	    <div class="login-html">
		    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">کد تایید ارسال شده را وارد نمایید</label>
{#		    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>#}
		    <div class="login-form">

{#            <a href="https://ashaarvin.com"><img class="fblogo" src="{% static 'images/ASHAARVIN_logo.png' %}"></a>#}
{##}
{#                <img id="logo" class="fblogo" src="{% static 'images/shandiz.png' %}" style="height: 220px; width:250px;">#}

                <form action="." method="post">

                        {% csrf_token %}

                        <div class="group">
{#					        <label for="user" class="label">شماره موبایل</label>#}
                            <input id="user" type="text" class="input" value="{{ mobile }}" readonly disabled name="mobile" >

                        </div>
                        <div class="group">
                            <input id="pass" type="text" class="input"  required  name="otp"  placeholder="کد تایید را وارد کنید">

                        </div>

				        <div class="group">
					        <input type="submit" class="button" value="تایید کردن">
                        </div>

                        <div class="foot-lnk">
					        <a href="{% url 'register_page_customer' %}" for="tab-1">تغییر شماره موبایل</a>
				        </div>


				        <div class="hr"></div>




                        <div class="group">
                            <button id="restooran" class="button" type="button"><a href="https://shandizgalleria.menew.pw">منوی رستوران</a></button>
                        </div>

                        <div class="group">
                            <button id="vip" class="button" type="button"><a href="{% url 'vip_login' %}">جهت ورود به پنل مشتریان VIP</a></button>
                        </div>

                </form>

		    </div>
	    </div>
    </div>





{% endblock %}




